*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    height: 44px;
    width: 164px;
    gap: 10px;
    background-color: #469165;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600px;

}
p{
    font-size: 18px;
    line-height: 32px;
    color: #627382;
}
.nav-bar{
    margin: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    height: 60px;
    width: 139;
    gap: 10px;
}
.menu-bar{
    display: flex;
    gap: 24px;
    list-style: none;

}
.menu-bar a{
    
    text-decoration: none;
    font-size: 16px;
    font-weight: 500px;
    color: #000;
}
/* Hero section  */
.span-color{
    color: #469165;
}

.banar{
    border: 29px solid black;
}
/* note section  */
.note-content{
    padding-top: 40px;
    text-align: center;
    gap: 16px;
}
.note-content h2{
    color: #001931;
    font-size: 45px;
    font-weight: bold;

}
.note-card{
    display: flex;
    gap: 24px;
    align-items: center;
    margin: 44px 120px;
    
}
.note-card .card{
    width: 322px;
    height: 300px;
    text-align: center;
    padding: 24px;
    box-shadow:  1px 1px  1px #d4d3d3e5;
    border: none;
    border: 4px;
}
.note-card .card h4{
    color: #001931;
    font-size: 24px;
    font-family: 600px;
    
}

